.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#content {
  width: calc(100vw - 150px);
  margin-left: 150px;
  padding: 5%;
}

#disqus_thread {
  width: calc(100vw - 150px);
  margin-left: 150px;
  padding: 5%;
}

#sidebar-content {
  position: fixed;
  height: 100vh;
  width: 150px;
  overflow-y: auto;
  overflow-wrap: break-word;

  background: #000000;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#sidebar p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: #ffffff !important;
}

#sidebar a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

#sidebar {
    background: #000000;
    color: #ffffff;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000000;
}
#sidebar h3 {
  color: #ffffff;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #000000;
}

#sidebar ul p {
    color: #ffffff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #ffffff;
    background: #000;
}
#sidebar ul li a:hover {
  color: #000;
  background: #fff;
}

#sidebar ul ul a {
    font-size: 0.9em;
    padding-left: 30px;
    background: #000000;
}


