.pf {
  background-color: #fffcad;
  border-color: #ffff00;
}

.ex {
  background-color: #ffdde4;
  border-color: #000000;
}

.defn {
  border-color: #add8e6;
  background-color: #00ffff;
}

.rmk {
  background-color: #dbd7c3;
  border-color: #668C64;
}

.thm {
  background-color: #cec7ff;
  border-color: #5D4EBF;
}

.lem, .prop, .cor, .clm {
  background-color: #ceffd6;
  border-color: #00ff00;
}

.envbox {
  border-style: solid; 
  border-width: thick;

  padding: 3%;
  margin-bottom: 3%;
  margin-top: 3%;

  overflow-x: auto;

  width: 100%;
}

img {
  max-width: 50vw;
  max-height: 50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
}

