.thm {
  background-color: #CEC7FF;
}

.rmk, .ex {
  background-color: #fec4ff;
}

.lem, .prop, .cor {
  background-color: #CEFFD6;
}

.defn {
  background-color: #F2F2F2;
}

.envbox {
  padding: 3%;
}
